body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(RGB(42, 169, 206) 18%, RGB(199, 103, 88) 69.2%, RGB(239, 147, 72) 72%, RGB(153, 68, 9) 81%);
    background-size: cover;
    font-family: 'Rye';
    color: RGB(235, 142, 68);
    font-size: 40px;
    overflow: hidden;
    letter-spacing: 5px;
}

canvas {
    background-color: black;
    display: block;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

.start-info-container {
    background-color: white;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 300px;
    min-width: 550px;
    max-width: 550px;
    padding: 20px;
    border-radius: 16px;
    overflow: hidden;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.start-button {
    font-size: 24px;
    margin: 20px 0 30px 0;
    font-weight: 600;
    background-color: RGB(235, 142, 68);
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    font-family: 'Rye';
    -webkit-text-stroke-color: white;
}

.keys-panel {
    display: flex;
    align-items: center;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}

.keys-panel img {
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 8px;
    border: 1px solid RGB(160, 34, 11);
}

.keys-panel span {
    font-size: 18px;
    color: RGB(235, 142, 68);
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: RGB(160, 34, 11);
}

p {
    font-size: 18px;
    color: RGB(235, 142, 68);
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: RGB(160, 34, 11);
}

.start-button:hover {
    background-color: RGB(160, 34, 11);
    cursor: pointer;
}

h1 {
    font-family: 'Rye';
    font-size: 50px;
    color: RGB(235, 142, 68);
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: RGB(160, 34, 11);
}

.d-none {
    display: none !important;
}

.sound-panel {
    background-image: linear-gradient(RGB(49, 166, 201) 25%, RGB(1, 155, 199) 80%);
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: flex-end;
}

.sound-panel img {
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    background-color: white;
    border: 1px solid RGB(160, 34, 11);
    border-radius: 8px;
}

.mobile-buttons-container {
    display: flex;
    padding: 5px 30px 5px 30px;
    background-color: #994409;
    justify-content: space-between
}

.mobile-buttons-left img {
    margin-right: 50px;
}

.mobile-buttons-right img {
    margin-left: 50px;
    margin-right: 10px;
}

.mobile-buttons-container img {
    background-color: white;
    border: 1px solid RGB(160, 34, 11);
    border-radius: 8px;
    height: 50px;
}

.restart-btn button {
    padding: 16px 24px 16px 24px;
    border-radius: 8px;
    background-color: RGB(235, 142, 68);
    border: none;
    color: white;
    font-weight: 900;
    font-size: 24px;
    position: absolute;
    bottom: 140px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    font-family: 'Rye';
    -webkit-text-stroke-color: white;
}

.restart-btn {
    display: flex;
    justify-content: center;
}

.restart-btn button:hover {
    background-color: RGB(160, 34, 11);
}

.canvas-container {
    position: relative;
}

.please_turn_device {
    display: none;
}

.style-fullscreen {
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
}

.restart-btn-new-position button {
    bottom: 30vh !important;
}

@media screen and (orientation:portrait) {
    .please_turn_device {
        display: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.92);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .please_turn_device h1 {
        font-size: 40px;
        color: RGB(235, 142, 68);
        -webkit-text-stroke-width: 0.50px;
        -webkit-text-stroke-color: RGB(160, 34, 11);
        text-align: center;
        width: 300px;
    }
}

@media (max-width: 600px) {
    .keys-panel {
        flex-direction: column;
    }

    .intro {
        width: unset;
    }

    .start-info-container {
        max-width: 100vw;
        min-width: 350px;
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 28px;
        margin: 0px 0px 0px 0px;
    }

    .keys-panel div {
        display: flex;
        margin-bottom: 2%;
    }

    .start-button {
        margin: 0px 0 15px 0;
    }
}

@media(max-width: 420px) {
    .keys-panel {
        flex-direction: column;
    }

    .intro {
        width: unset;
    }

    .start-info-container {
        max-width: 350px;
        min-width: 350px;
    }
}

@media (max-width: 500px) {
    .mobile-buttons-container img {
        background-color: white;
        border: 1px solid RGB(160, 34, 11);
        border-radius: 8px;
        height: 30px;
    }
}

@media (max-width: 376px) {
    .mobile-buttons-container img {
        height: 22px;
    }
}


/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100vw;
        height: 100%;
    }
}

@media only screen and (max-height: 610px) {
    canvas {
        height: 100vh;
        width: unset;
    }

    body {
        background-image: linear-gradient(RGB(42, 169, 206) 18%, RGB(199, 103, 88) 81.2%, RGB(239, 147, 72) 85%, RGB(153, 68, 9) 96%);
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 32px !important;
        margin: 0px 0px 0px 0px;
    }

    .keys-panel div {
        display: flex;
        margin-bottom: 2%;
    }

    .keys-panel span {
        font-size: 16px;
    }

    .start-button {
        margin: 0px 0 15px 0;
    }

    .sound-panel {
        z-index: 1;
        position: absolute;
        background-image: unset;
        right: 16px;
    }

    .sound-panel img {
        height: 40px;
        margin-right: 20px;
        background-color: white;
        border: 1px solid RGB(160, 34, 11);
        border-radius: 8px;
    }

    .mobile-buttons-container {
        padding: 0px;
        padding-left: 10px;
        background-color: transparent;
        z-index: 1;
        position: absolute;
        min-width: 98%;
        bottom: 0;
    }

    .keys-panel img {
        height: 25px;
        width: 25px;
    }

    .mobile-buttons-container img {
        height: 40px;
        background-color: white;
        border: 1px solid RGB(160, 34, 11);
        border-radius: 8px;
    }

    .restart-btn button {
        bottom: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .mobile-buttons-container img {
        background-color: white;
        border: 1px solid RGB(160, 34, 11);
        border-radius: 8px;
        height: 30px;
    }
}

@media only screen and (max-width: 410px) {
    .mobile-buttons-left img {
        margin-right: 25px;
    }

    .mobile-buttons-right img {
        margin-left: 25px;
    }
}